body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

h1, h2 {
    margin-bottom: 20px;
}

#braille-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.braille-char {
    cursor: pointer;
}

.braille-item {
    text-align: center;
}

hr {
    margin: 20px 0;
}

#newBrailleImage {
    margin-bottom: 20px;
}

#generatedBrailleImage {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#brailleToTextResult {
    display: none;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

#textOutput {
    margin-top: 20px;
}
